
<footer class="footer footer-black footer-big">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 ml-auto mr-auto">
                <div class="logo text-center">
                    <img src="./assets/img/ecommerce/longLogo.png" style="width:300px;height:150px;">
                </div>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-8">
                <div class="links">
                        <ul>
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink] ="['/about-us']">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/gallery']">
                                        Gallery
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/contact-us']">
                                       Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/shopping_cart']">
                                Shopping Cart
                            </a>
                                </li>
                            </ul>
                    <hr />
                    <div class="copyright">
                        <div class="pull-left">
                            © {{data | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by ModernWolfDesigns
                        </div>
                        <div class="pull-right">
                            <ul>
                                <li>
                                    <button class="btn btn-just-icon btn-border btn-facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </button>
                                </li>
                                
                                <li>
                                  
                                    <button class="btn btn-just-icon btn-border btn-instagram">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>