<div class="project-4 section section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">A little about me..</h2>
                <h5 class="description">Hello Etsenians! My name is Kelsi and I am so excited and so happy to start opening up shop. I've been doing this for as long as I can remember and this shop is way past due.</h5>
            </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card" data-background="image" style="background-image: url('assets/img/sections/sebastien-gabrieles.jpg')">
                    <div class="card-icon">
                        <i class="nc-icon nc-mobile"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mr-auto">
                <div class="card card-plain">
                    <div class="card-body">
                        <h6 class="card-category">Kelsi Martin</h6>
                        <a href="#pablo">
                            <h3 class="card-title">Artist/Designer</h3>
                        </a>
                        <p class="card-description">


                             For those of you who are already familiar with my work... thank you.. thank you so much for all the support everyone has shown me and all my repeat clients. 
                            
                            Now a little about me... 
                            I'm your typical motorcycle riding, paint balling, skateboarding, video game playing, thrill seeking single mom. My son and I come from the dirty mud puddles of Mississippi but we decided to wreak havoc in Virginia. I started off selling art on Gaiaonline when I was 14. I made a killing! I was filling 20+ orders a week, I drew all day, every day, Art is my muse, my meaning, my drive. Most of my life has revolved around art. I completed 4 years at the Art Institute for Graphics Design but my head is always moving on to the next project. Don't be surprised if the listings change from paintings, to jewelry, to prints, to photography, to sculptures because I absolutely cannot commit to just one. This is my passion. I love what I do and my mission here is for my years of studying and hard work to pay off so I can work from home and make art every single day. Thank you for reading and stopping by. I appreciate you and your business. Namaste! </p>


                    </div>
                </div>
            </div>
        </div>
