<!--<div *ngIf="user">
  <h2 class ="page-header">{{user.name}}</h2>
  <ul class = "list-group">
    <li class ="list-group-item">Username: {{user.username}}</li>
    <li class ="list-group-item">Email: {{user.email}}</li>
  </ul>
</div>
-->

<div class="wrapper">
    <div class="page-header page-header-xs settings-background" style="background-image: url('./assets/img/sections/joshua-earles.jpg')">
        <div class="filter"></div>
    </div>
    <div class="profile-content section">
        <div class="container">
            <div class="row">
                <div class="profile-picture">
                    <app-image-upload [image]="'./assets/img/profile.png'"></app-image-upload>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <form class="settings-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" name="name"value="{{user.name}}">
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control border-input" value="{{user.username}}">
                                </div>
                            </div>
                        </div>
                      <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control border-input" value="{{user.email}}">
                      </div>
                      <div class="form-group">
                        <label>Description</label>
                            <textarea class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="3" maxlength="150" ></textarea>
                            <h5><small><span id="textarea-limited-message" class="pull-right">150 characters left</span></small></h5>
                      </div>

                    <label><strong>Notifications</strong></label>
                    <ul class="notifications">
                          <li class="notification-item">
                            Updates regarding platform changes
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                
                                <span class="form-check-sign"></span>
                            </label>
                          </li>
                          <li class="notification-item">
                            Updates regarding product changes
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                              
                                <span class="form-check-sign"></span>
                            </label>
                          </li>
                          <li class="notification-item">
                            Weekly newsletter
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                              
                                <span class="form-check-sign"></span>
                            </label>
                          </li>
                      </ul>
                      <div class="text-center">
                        <button type="submit" class="btn btn-wd btn-info btn-round">Save</button>
                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>