hr{
    border-top: 3px double #8c8b8b;
    margin:0px;
    padding:0px;
}
.mwd-title{
text-align:center;

}
.mwd-description{
    text-align:center;
}
.btn{
    background-color:black;
    margin-left:500px;
}
.centered{
position: absolute;
top: 50%;
left: 50%;
margin-top:-300px;
margin-left:-700px;

}
