<div class="wrapper">
<div class="section section-components" style="background-color:black;padding-top:100px;">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <div class="image-container">
        <img class="components-macbook" src="./assets/img/presentation-page/design_backgroundnew.png" style="width:500px; height:360px;margin-left:200px;margin-top:20px;" alt="" />
        <img class="table-img" src="./assets/img/presentation-page/design_1.png " alt="" />
        <img class="share-btn-img" src="./assets/img/presentation-page/design_5.png"  style="width:200px; height: 170px; margin-bottom:250px;margin-right:60px;"alt="" />
        <img class="coloured-card-btn-img" src="./assets/img/presentation-page/design_6.png" alt="" />
        <img class="coloured-card-img" src="./assets/img/presentation-page/design_2.png" style="width:200px; height: 170px; margin-left:100px;" alt="" />
        <img class="social-img" src="./assets/img/presentation-page/design_4.png " style="width:150px; height: 130px; margin-left:200px;margin-bottom:100px; "alt="" />
        <img class="pin-btn-img" src="./assets/img/presentation-page/design_3.png" style="width:200px; height: 170px; margin-left:100px;"alt="" />
        
      </div>
    </div>
    <div class="col-md-10 col-lg-4 ml-auto mr-auto">
      <div class="container basic-container">
        <h2 class="mwd-title" ><strong>ModernWolfDesign</strong></h2>
        <h6 class="mwd-description" >Welcome to my shop! Please be sure to wipe your feet!</h6>
        <h5 class="description">We have over 20 unique items to choose from. Each individual piece has been handcrafted by us with the guarantee of top notch quality upon delivery. We offer a wide variety of 
            artwork from paintings to necklaces and jewelry. Stop by and take a look! </h5>
        <button type="button" class="btn btn-default" style="margin-left:170px"><a [routerLink]="['/gallery']" style="color:white">View Gallery</a></button>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</div>
<hr>

<div class="testimonials-1 section-image" style="background-image: url('assets/img/sections/uriel-soberanes.jpg')">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">Our Clients Love Us</h2>
              <h5 class="description">You need more information? Check what other people think about our artwork. They are very happy with their purchase.</h5>
          </div>
      </div>
      <div class="space-top"></div>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-testimonial">
                  <div class="card-icon">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </div>
                  <div class="card-body">
                      <p class="card-description">
                         Great quality and beautiful! Got my items very fast. So happy I got these and I will be back for other things.
                      </p>
                      <div class="card-footer">
                          <h4 class="card-title">kellikaustic</h4>
                          <div class="card-avatar">
                              <a href="#pablo">
                                  <img class="img" src="assets/img/ecommerce/supporter1.jpg" />
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-testimonial">
                  <div class="card-icon">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </div>
                  <div class="card-body">
                      <p class="card-description">
                          "Don't be scared of the truth because we need to restart the human foundation in truth. That's why I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is not so attractive"
                      </p>
                      <div class="card-footer">
                          <h4 class="card-title">Gina Andrew</h4>
                          <h6 class="card-category">@ginaandrew</h6>
                          <div class="card-avatar">
                              <a href="#pablo">
                                  <img class="img" src="assets/img/faces/joe-gardner-2.jpg" />
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-testimonial">
                  <div class="card-icon">
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </div>
                  <div class="card-body">
                      <p class="card-description">
                          "Your products, all the kits that I have downloaded from your site and worked with are sooo cool! I love the color mixtures, cards... everything. Keep up the great work!"
                      </p>
                      <div class="card-footer">
                          <h4 class="card-title">Joe West</h4>
                          <h6 class="card-category">@georgewest</h6>
                          <div class="card-avatar">
                              <a href="#pablo">
                                  <img class="img" src="assets/img/faces/kaci-baum-2.jpg" />
                              </a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</div>

