
    <nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
      <div class="container">
          <div class="navbar-translate">
              <div class="navbar-header">
                 <span [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
                      <a class="navbar-brand" [routerLink]="['/']">ModernWolfDesigns</a>
                 </span>
              </div>
              <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                  <span class="navbar-toggler-bar"></span>
                  <span class="navbar-toggler-bar"></span>
                  <span class="navbar-toggler-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li *ngIf="authService.loggedIn()" class ="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link"[routerLink]="['/profile']">Account</a></li>
                  <li *ngIf="!authService.loggedIn()" class ="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link"[routerLink]="['/login']">Login</a></li>
                  <li *ngIf="!authService.loggedIn()" class ="nav-item"[routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link"[routerLink]="['/register']">Register</a></li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/gallery']">Gallery</a>
                  </li>
                  <div ngbDropdown class="nav-item dropdown">
                      <div class="nav-link dropdown-toggle" ngbDropdownToggle>Connect With Us</div>
                      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                          <a class="dropdown-item" [routerLink]="['/contact-us']" fragment="headers"><i class="nc-icon nc-tile-56"></i>&nbsp; Contact Us</a>
                          <a class="dropdown-item" [routerLink]="['/contact-us']" fragment="features"><i class="nc-icon nc-settings"></i>&nbsp; Positions for hire</a>
                          <a class="dropdown-item" [routerLink]="['/contact-us']" fragment="blogs"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Connect Through Social Media</a>
                      </div>
                  </div>
                  <li *ngIf="authService.loggedIn()" class ="nav-item"><a (click)="onLogoutClick()"class="nav-link" href="#">Logout</a></li>
                  <li class="nav-item"  *ngIf="authService.loggedIn()"class="btn btn-round btn-danger"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                        <a style="color:white" [routerLink]="['/payment-plans']">
                            <i class="fa fa-star"></i> Purchase A Plan
                        </a>
                    </li>
                  <li class="nav-item"  *ngIf="authService.loggedIn()"class="btn btn-round btn-danger"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" >
                      <a style="color:white" [routerLink]="['/shopping_cart']">
                          <i class="nc-icon nc-cart-simple"></i> Shopping Cart
                      </a>
                  </li>
   
              </ul>
          </div>
      </div>
  </nav>
  
