<!--     *********    PRICING 4     *********      -->
<div class="pricing-4 section section-dark "style="height:1000px;">

    <div class="container">
        <div class="row"style="margin-top:100px">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <h2 class="title">Pick the best plan for you</h2>
                <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
            </div>
        </div>
        <div class="space-top"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-pricing">
                    <div class="card-body">
                        <h6 class="card-category text-success">Starter</h6>
                        <h1 class="card-title">$0</h1>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Sharing Tools</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Design Tools</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Private Messages</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Personal Brand</li>
                        </ul>
                        <a [routerLink]="['/starter-plan']" class="btn btn-outline-success btn-round">Choose Plan</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-pricing">
                    <div class="card-body">
                        <h6 class="card-category text-success">Small company</h6>
                        <h1 class="card-title">$89</h1>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Sharing Tools</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Design Tools</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Private Messages</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Personal Brand</li>
                        </ul>
                        <a href="#pablo" class="btn btn-outline-success btn-round">Choose Plan</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-pricing">
                    <div class="card-body">
                        <h6 class="card-category text-success">Large Company</h6>
                        <h1 class="card-title">$189</h1>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Sharing Tools</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Design Tools</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Private Messages</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Personal Brand</li>
                        </ul>
                        <a href="#pablo" class="btn btn-outline-success btn-round">Choose Plan</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-pricing">
                    <div class="card-body">
                        <h6 class="card-category text-success">Enterprise</h6>
                        <h1 class="card-title">$389</h1>
                        <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Sharing Tools</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Design Tools</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Private Messages</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Personal Brand</li>
                        </ul>
                        <a href="#pablo" class="btn btn-outline-success btn-round">Choose Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>