
  
  <div class="wrapper">
 

  <div class="section latest-offers" style="background-color:#000000;">
   <div class="container">
          <div class="row">
                <div class="col-md-4" *ngFor="let product of products">
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="#paper-kit">
                                <img src="{{product.imagePath}}" style="height:400px;width:890px" height="600" width="890" alt="Rounded Image" class="img-rounded img-responsive">
                            </a>
                            <div class="card-body">
                                <div class="card-description">
                                    <h5 class="card-title">{{product.title}}</h5>
                                    <p class="card-description">{{product.description}}</p>
                                </div>
                                <div class="price">
                                    <b>{{product.price}} $</b>  
                                    <a class="btn btn-basic pull-right" [routerLink]="['/product-details', product._id]" style="background-color:black;" role="button">View Details</a>
                                </div>
                                <div class="product-details">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
         </div>
         
   </div>
  </div>
  <br><br>
<!--
  <h1 class="text-center">SlideShow View</h1>
  <br><br>
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  <br><br><br>
  <br><br><br>
   section -->
  
  </div> <!-- wrapper -->
  